In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

## One to many relationship
### 1. Report the account representative for each customer

In [2]:
run("""SELECT
            c.customerNumber, 
            c.customerName, 
            c.salesrepemployeenumber,
            e.employeenumber, 
            CONCAT(e.lastname,', ', e.firstname) AS 'employeeName'    
    FROM
            customers c 
    LEFT JOIN employees e ON c.salesrepemployeenumber = e.employeenumber
""")

,customerNumber,customerName,salesrepemployeenumber,employeenumber,employeeName
0,103,Atelier graphique,1370.0,1370.0,"Hernandez, Gerard"
1,112,Signal Gift Stores,1166.0,1166.0,"Thompson, Leslie"
2,114,"Australian Collectors, Co.",1611.0,1611.0,"Fixter, Andy"
3,119,La Rochelle Gifts,1370.0,1370.0,"Hernandez, Gerard"
4,121,Baane Mini Imports,1504.0,1504.0,"Jones, Barry"
5,124,Mini Gifts Distributors Ltd.,1165.0,1165.0,"Jennings, Leslie"
6,125,Havel & Zbyszek Co,NaN,NaN,None
7,128,"Blauer See Auto, Co.",1504.0,1504.0,"Jones, Barry"
8,129,Mini Wheels Co.,1165.0,1165.0,"Jennings, Leslie"
9,131,Land of Toys Inc.,1323.0,1323.0,"Vanauf, George"
10,141,Euro+ Shopping Channel,1370.0,1370.0,"Hernandez, Gerard"
11,144,"Volvo Model Replicas, Co",1504.0,1504.0,"Jones, Barry"
12,145,Danish Wholesale Imports,1401.0,1401.0,"Castillo, Pamela"
13,146,"Saveley & Henriot, Co.",1337.0,1337.0,"Bondur, Loui"
14,148,"Dragon Souveniers, Ltd.",1621.0,1621.0,"Nishi, Mami"
15,151,Muscle Machine Inc,1286.0,1286.0,"Tseng, Foon Yue"
16,157,Diecast Classics Inc.,1216.0,1216.0,"Patterson, Steve"
17,161,Technics Stores Inc.,1165.0,1165.0,"Jennings, Leslie"
18,166,Handji Gifts& Co,1612.0,1612.0,"Marsh, Peter"
19,167,Herkku Gifts,1504.0,1504.0,"Jones, Barry"
20,168,American Souvenirs Inc,1286.0,1286.0,"Tseng, Foon Yue"
21,169,Porto Imports Co.,NaN,NaN,None
22,171,Daedalus Designs Imports,1370.0,1370.0,"Hernandez, Gerard"
23,172,"La Corne D'abondance, Co.",1337.0,1337.0,"Bondur, Loui"
24,173,Cambridge Collectables Co.,1188.0,1188.0,"Firrelli, Julie"
25,175,Gift Depot Inc.,1323.0,1323.0,"Vanauf, George"
26,177,Osaka Souveniers Co.,1621.0,1621.0,"Nishi, Mami"
27,181,Vitachrome Inc.,1286.0,1286.0,"Tseng, Foon Yue"
28,186,"Toys of Finland, Co.",1501.0,1501.0,"Bott, Larry"
29,187,"AV Stores, Co.",1501.0,1501.0,"Bott, Larry"
...,...,...,...,...,...
92,386,L'ordine Souveniers,1401.0,1401.0,"Castillo, Pamela"
93,398,"Tokyo Collectables, Ltd",1621.0,1621.0,"Nishi, Mami"
94,406,Auto Canal+ Petit,1337.0,1337.0,"Bondur, Loui"
95,409,Stuttgart Collectable Exchange,NaN,NaN,None
96,412,"Extreme Desk Decorations, Ltd",1612.0,1612.0,"Marsh, Peter"
97,415,"Bavarian Collectables Imports, Co.",1504.0,1504.0,"Jones, Barry"
98,424,Classic Legends Inc.,1286.0,1286.0,"Tseng, Foon Yue"
99,443,"Feuer Online Stores, Inc",NaN,NaN,None
100,447,Gift Ideas Corp.,1323.0,1323.0,"Vanauf, George"
101,448,Scandinavian Gift Ideas,1504.0,1504.0,"Jones, Barry"
102,450,The Sharp Gifts Warehouse,1165.0,1165.0,"Jennings, Leslie"
103,452,Mini Auto Werke,1401.0,1401.0,"Castillo, Pamela"
104,455,Super Scale Inc.,1286.0,1286.0,"Tseng, Foon Yue"
105,456,Microscale Inc.,1286.0,1286.0,"Tseng, Foon Yue"
106,458,"Corrida Auto Replicas, Ltd",1702.0,1702.0,"Gerard, Martin"
107,459,Warburg Exchange,NaN,NaN,None
108,462,FunGiftIdeas.com,1216.0,1216.0,"Patterson, Steve"
109,465,"Anton Designs, Ltd.",NaN,NaN,None
110,471,"Australian Collectables, Ltd",1611.0,1611.0,"Fixter, Andy"
111,473,Frau da Collezione,1401.0,1401.0,"Castillo, Pamela"
112,475,West Coast Collectables Co.,1166.0,1166.0,"Thompson, Leslie"
113,477,Mit Vergnügen & Co.,NaN,NaN,None
114,480,"Kremlin Collectables, Co.",NaN,NaN,None
115,481,"Raanan Stores, Inc",NaN,NaN,None
116,484,"Iberia Gift Imports, Corp.",1702.0,1702.0,"Gerard, Martin"
117,486,Motor Mint Distributors Inc.,1323.0,1323.0,"Vanauf, George"
118,487,Signal Collectibles Ltd.,1165.0,1165.0,"Jennings, Leslie"
119,489,"Double Decker Gift Stores, Ltd",1501.0,1501.0,"Bott, Larry"
120,495,Diecast Collectables,1188.0,1188.0,"Firrelli, Julie"
121,496,Kelly's Gift Shop,1612.0,1612.0,"Marsh, Peter"

In [3]:
run("""SELECT
            c.customerNumber, c.customerName, c.salesrepemployeenumber,
            e.employeenumber, CONCAT(e.lastname,', ', e.firstname) AS 'employeeName'    
    FROM
            customers c 
    LEFT JOIN employees e ON c.salesrepemployeenumber = e.employeenumber
    WHERE c.salesrepemployeenumber IS NOT NULL
""")

,customerNumber,customerName,salesrepemployeenumber,employeenumber,employeeName
0,103,Atelier graphique,1370,1370,"Hernandez, Gerard"
1,112,Signal Gift Stores,1166,1166,"Thompson, Leslie"
2,114,"Australian Collectors, Co.",1611,1611,"Fixter, Andy"
3,119,La Rochelle Gifts,1370,1370,"Hernandez, Gerard"
4,121,Baane Mini Imports,1504,1504,"Jones, Barry"
5,124,Mini Gifts Distributors Ltd.,1165,1165,"Jennings, Leslie"
6,128,"Blauer See Auto, Co.",1504,1504,"Jones, Barry"
7,129,Mini Wheels Co.,1165,1165,"Jennings, Leslie"
8,131,Land of Toys Inc.,1323,1323,"Vanauf, George"
9,141,Euro+ Shopping Channel,1370,1370,"Hernandez, Gerard"
10,144,"Volvo Model Replicas, Co",1504,1504,"Jones, Barry"
11,145,Danish Wholesale Imports,1401,1401,"Castillo, Pamela"
12,146,"Saveley & Henriot, Co.",1337,1337,"Bondur, Loui"
13,148,"Dragon Souveniers, Ltd.",1621,1621,"Nishi, Mami"
14,151,Muscle Machine Inc,1286,1286,"Tseng, Foon Yue"
15,157,Diecast Classics Inc.,1216,1216,"Patterson, Steve"
16,161,Technics Stores Inc.,1165,1165,"Jennings, Leslie"
17,166,Handji Gifts& Co,1612,1612,"Marsh, Peter"
18,167,Herkku Gifts,1504,1504,"Jones, Barry"
19,168,American Souvenirs Inc,1286,1286,"Tseng, Foon Yue"
20,171,Daedalus Designs Imports,1370,1370,"Hernandez, Gerard"
21,172,"La Corne D'abondance, Co.",1337,1337,"Bondur, Loui"
22,173,Cambridge Collectables Co.,1188,1188,"Firrelli, Julie"
23,175,Gift Depot Inc.,1323,1323,"Vanauf, George"
24,177,Osaka Souveniers Co.,1621,1621,"Nishi, Mami"
25,181,Vitachrome Inc.,1286,1286,"Tseng, Foon Yue"
26,186,"Toys of Finland, Co.",1501,1501,"Bott, Larry"
27,187,"AV Stores, Co.",1501,1501,"Bott, Larry"
28,189,"Clover Collections, Co.",1504,1504,"Jones, Barry"
29,198,Auto-Moto Classics Inc.,1216,1216,"Patterson, Steve"
...,...,...,...,...,...
70,362,Gifts4AllAges.com,1216,1216,"Patterson, Steve"
71,363,Online Diecast Creations Co.,1216,1216,"Patterson, Steve"
72,376,Precious Collectables,1702,1702,"Gerard, Martin"
73,379,Collectables For Less Inc.,1188,1188,"Firrelli, Julie"
74,381,Royale Belge,1401,1401,"Castillo, Pamela"
75,382,Salzburg Collectables,1401,1401,"Castillo, Pamela"
76,385,Cruz & Sons Co.,1621,1621,"Nishi, Mami"
77,386,L'ordine Souveniers,1401,1401,"Castillo, Pamela"
78,398,"Tokyo Collectables, Ltd",1621,1621,"Nishi, Mami"
79,406,Auto Canal+ Petit,1337,1337,"Bondur, Loui"
80,412,"Extreme Desk Decorations, Ltd",1612,1612,"Marsh, Peter"
81,415,"Bavarian Collectables Imports, Co.",1504,1504,"Jones, Barry"
82,424,Classic Legends Inc.,1286,1286,"Tseng, Foon Yue"
83,447,Gift Ideas Corp.,1323,1323,"Vanauf, George"
84,448,Scandinavian Gift Ideas,1504,1504,"Jones, Barry"
85,450,The Sharp Gifts Warehouse,1165,1165,"Jennings, Leslie"
86,452,Mini Auto Werke,1401,1401,"Castillo, Pamela"
87,455,Super Scale Inc.,1286,1286,"Tseng, Foon Yue"
88,456,Microscale Inc.,1286,1286,"Tseng, Foon Yue"
89,458,"Corrida Auto Replicas, Ltd",1702,1702,"Gerard, Martin"
90,462,FunGiftIdeas.com,1216,1216,"Patterson, Steve"
91,471,"Australian Collectables, Ltd",1611,1611,"Fixter, Andy"
92,473,Frau da Collezione,1401,1401,"Castillo, Pamela"
93,475,West Coast Collectables Co.,1166,1166,"Thompson, Leslie"
94,484,"Iberia Gift Imports, Corp.",1702,1702,"Gerard, Martin"
95,486,Motor Mint Distributors Inc.,1323,1323,"Vanauf, George"
96,487,Signal Collectibles Ltd.,1165,1165,"Jennings, Leslie"
97,489,"Double Decker Gift Stores, Ltd",1501,1501,"Bott, Larry"
98,495,Diecast Collectables,1188,1188,"Firrelli, Julie"
99,496,Kelly's Gift Shop,1612,1612,"Marsh, Peter"

### 2. Report total payments for Atelier graphique.

In [4]:
run(""" SELECT
            c.customerName,
            SUM(p.amount) AS 'jumlah'
    FROM
            customers c INNER JOIN payments p ON c.customernumber = p.customernumber
    WHERE c.customerName = 'atelier graphique'
""")

        customerName    jumlah
0  Atelier graphique  22314.36

### 3. Report the total payments by date

In [5]:
run(""" SELECT
    m.paymentDate,
    SUM(p.amount) AS 'jumlah'
    FROM
    payments p INNER JOIN payments m ON m.paymentdate = p.paymentdate
    GROUP BY m.paymentDate
""")

    paymentDate     jumlah
0    2003-01-16   10223.83
1    2003-01-28   10549.01
2    2003-01-30    5494.78
3    2003-02-16   50218.95
4    2003-02-20   53959.21
5    2003-02-25   40206.20
6    2003-03-02   52151.81
7    2003-03-09   51001.22
8    2003-03-12   22292.62
9    2003-03-20   25833.14
10   2003-03-27   48425.69
11   2003-04-09   48425.58
12   2003-04-11   11044.30
13   2003-04-16   21665.98
14   2003-04-19    1627.56
15   2003-04-20   33383.14
16   2003-04-22   44380.15
17   2003-05-09    3101.40
18   2003-05-12   35826.33
19   2003-05-20   45864.03
20   2003-05-21   16700.47
21   2003-05-25   50824.66
22   2003-05-31    7565.08
23   2003-06-05   14571.44
24   2003-06-06   32641.98
25   2003-06-13   57131.92
26   2003-06-18   58841.35
27   2003-06-25   17032.29
28   2003-07-05    2880.00
29   2003-07-06    6036.96
..          ...        ...
202  2005-02-02   12692.19
203  2005-02-03   14379.90
204  2005-02-06   39580.60
205  2005-02-09   27083.78
206  2005-02-12   28322.83
207  2005-02-14   33967.73
208  2005-02-15   46770.52
209  2005-02-22   49523.67
210  2005-03-01   21432.31
211  2005-03-02    3452.75
212  2005-03-05  101244.59
213  2005-03-10   23602.90
214  2005-03-15   46781.66
215  2005-03-18  120166.58
216  2005-03-25   65071.26
217  2005-03-27    3516.04
218  2005-04-15   30293.77
219  2005-04-16   83598.04
220  2005-04-18   27966.54
221  2005-04-23   12190.85
222  2005-04-30   29848.52
223  2005-05-03   87929.74
224  2005-05-17   17928.09
225  2005-05-18     615.45
226  2005-05-19  150792.52
227  2005-05-20   29070.38
228  2005-05-23   75020.13
229  2005-05-25   30253.75
230  2005-06-03   12432.32
231  2005-06-09   46656.94

[232 rows x 2 columns]

### 4. Report the products that have not been sold
Produk tidak dipesan

In [48]:
run("""SELECT
            DISTINCT p.productName,
            o.status
                   
        FROM
            products p
        LEFT JOIN orderdetails d ON p.productcode = d.productcode
        LEFT JOIN orders o ON o.ordernumber = d.ordernumber
        WHERE d.ordernumber IS NULL
        OR o.status = 'cancelled'
        ORDER BY o.status
        """)

                                productName     status
0                         1985 Toyota Supra       None
1                        1969 Dodge Charger  Cancelled
2                    1999 Yamaha Speed Boat  Cancelled
3                       1904 Buick Runabout  Cancelled
4                  1940 Ford Delivery Sedan  Cancelled
5              1930 Buick Marquette Phaeton  Cancelled
6                             ATA: B757-300  Cancelled
7                         2001 Ferrari Enzo  Cancelled
8               1980s Black Hawk Helicopter  Cancelled
9                    1900s Vintage Bi-Plane  Cancelled
10        1992 Porsche Cayenne Turbo Silver  Cancelled
11              American Airlines: B767-300  Cancelled
12                           The Queen Mary  Cancelled
13                         1969 Ford Falcon  Cancelled
14                           P-51-D Mustang  Cancelled
15  1941 Chevrolet Special Deluxe Cabriolet  Cancelled
16                1971 Alpine Renault 1600s  Cancelled
17   1950's Chicago Surface Lines Streetcar  Cancelled
18           America West Airlines B757-200  Cancelled
19                               Pont Yacht  Cancelled
20                      1972 Alfa Romeo GTA  Cancelled
21                          1993 Mazda RX-7  Cancelled
22                        1903 Ford Model A  Cancelled
23         1928 British Royal Navy Airplane  Cancelled
24                  1956 Porsche 356A Coupe  Cancelled
25           1962 City of Detroit Streetcar  Cancelled
26                       F/A 18 Hornet 1/72  Cancelled
27                       1969 Corvair Monza  Cancelled
28              1948 Porsche 356-A Roadster  Cancelled
29                 Collectable Wooden Train  Cancelled
30                  1982 Lamborghini Diablo  Cancelled
31                  1900s Vintage Tri-Plane  Cancelled
32                            The Mayflower  Cancelled
33                American Airlines: MD-11S  Cancelled
34                  1970 Plymouth Hemi Cuda  Cancelled
35             1999 Indy 500 Monte Carlo SS  Cancelled
36                    1970 Triumph Spitfire  Cancelled
37                1937 Horch 930V Limousine  Cancelled
38                 1928 Ford Phaeton Deluxe  Cancelled
39                The USS Constitution Ship  Cancelled
40                        1968 Ford Mustang  Cancelled
41                    1965 Aston Martin DB5  Cancelled
42              1992 Ferrari 360 Spider red  Cancelled
43                    18th century schooner  Cancelled
44                 Corsair F4U ( Bird Cage)  Cancelled
45                    The Schooner Bluenose  Cancelled
46                              The Titanic  Cancelled
47                       1968 Dodge Charger  Cancelled
48                         1995 Honda Civic  Cancelled
49           1948 Porsche Type 356 Roadster  Cancelled
50         1912 Ford Model T Delivery Wagon  Cancelled
51                         1997 BMW F650 ST  Cancelled
52                               HMS Bounty  Cancelled
53                         Boeing X-32A JSF  Cancelled

### 5. List the amount paid by each customer.

In [9]:
run("""SELECT
            c.customerName,
            SUM(p.amount) AS totalAmount
        FROM
            customers c
        INNER JOIN payments p ON c.customernumber = p.customernumber
        GROUP BY c.customername
""")

                          customerName  totalAmount
0                         Alpha Cognac     60483.36
1                   Amica Models & Co.     82223.23
2              Anna's Decorations, Ltd    137034.22
3                    Atelier graphique     22314.36
4         Australian Collectables, Ltd     44920.76
5           Australian Collectors, Co.    180585.07
6          Australian Gift Network, Co     55190.16
7                 Auto Associés & Cie.     58876.41
8                    Auto Canal+ Petit     86436.97
9              Auto-Moto Classics Inc.     21554.26
10                      AV Stores, Co.    148410.09
11                  Baane Mini Imports    104224.79
12  Bavarian Collectables Imports, Co.     31310.09
13                Blauer See Auto, Co.     75937.76
14                   Boards & Toys Co.      7918.60
15                         CAF Imports     46751.14
16          Cambridge Collectables Co.     32198.69
17      Canadian Gift Exchange Network     70122.19
18             Classic Gift Ideas, Inc     57939.34
19                Classic Legends Inc.     69214.33
20             Clover Collections, Co.     49898.27
21        Collectable Mini Designs Co.     80375.24
22          Collectables For Less Inc.     73533.65
23            Corporate Gift Ideas Co.    132340.78
24          Corrida Auto Replicas, Ltd    112440.09
25                     Cruz & Sons Co.     87468.30
26            Daedalus Designs Imports     61781.70
27            Danish Wholesale Imports    107446.50
28               Diecast Classics Inc.     98509.25
29                Diecast Collectables     65541.74
..                                 ...          ...
68            Online Mini Collectables     55577.26
69                Osaka Souveniers Co.     62361.22
70             Oulu Toy Supplies, Inc.     95706.15
71                          Petit Auto     62253.85
72        Québec Home Shopping Network     68977.67
73                  Reims Collectables    126983.19
74                       Rovelli Gifts    127529.69
75   Royal Canadian Collectables, Ltd.     66812.00
76                        Royale Belge     29217.18
77               Salzburg Collectables     85060.00
78              Saveley & Henriot, Co.    130305.35
79             Scandinavian Gift Ideas     76776.44
80            Signal Collectibles Ltd.     42570.37
81                  Signal Gift Stores     80180.98
82           Souveniers And Things Co.     91655.61
83            Stylish Desk Decors, Co.     80556.73
84                 Suominen Souveniers    103896.74
85                    Super Scale Inc.     70378.65
86                Technics Stores Inc.    104545.22
87             Tekni Collectables Inc.     38281.51
88           The Sharp Gifts Warehouse     59551.38
89             Tokyo Collectables, Ltd    105548.73
90             Toms Spezialitäten, Ltd     89223.14
91                Toys of Finland, Co.     95546.46
92                   Toys4GrownUps.com     93803.30
93               UK Collectables, Ltd.     61167.18
94                     Vida Sport, Ltd    108777.92
95                     Vitachrome Inc.     72497.64
96            Volvo Model Replicas, Co     43680.65
97         West Coast Collectables Co.     43748.72

[98 rows x 2 columns]

### 6. How many orders have been placed by Herkku Gifts?

In [13]:
run("""SELECT
            c.customerName,
            SUM(d.quantityOrdered) AS totalQuantity
        FROM
            customers c
        INNER JOIN orders o ON c.customerNumber = o.customerNumber
        INNER JOIN orderdetails d ON o.orderNumber = d.orderNumber
        WHERE c.customerName = 'Herkku Gifts'
        
""")

   customerName  totalQuantity
0  Herkku Gifts          973.0

### 7. Who are the employees in Boston?

In [17]:
run("""SELECT
            CONCAT(e.lastName,', ',e.firstName) AS employeeName,
            e.employeeNumber,
            c.city
        FROM
            employees e
        INNER JOIN customers c ON c.salesRepEmployeeNumber = e.employeeNumber
        WHERE c.city = 'Boston'
""")

       employeeName  employeeNumber    city
0  Patterson, Steve            1216  Boston
1   Firrelli, Julie            1188  Boston

### 8. Report those payments greater than $100,000. Sort the report so the customer who made the highest payment appears first.

In [23]:
run("""SELECT
            c.customerName,
            SUM(p.amount) AS totalPayment
        FROM
            payments p
        INNER JOIN customers c ON c.customerNumber = p.customerNumber
        GROUP BY c.customerName
        ORDER BY totalPayment DESC
""")

                          customerName  totalPayment
0               Euro+ Shopping Channel     715738.98
1         Mini Gifts Distributors Ltd.     584188.24
2           Australian Collectors, Co.     180585.07
3                   Muscle Machine Inc     177913.95
4              Dragon Souveniers, Ltd.     156251.03
5           Down Under Souveniers, Inc     154622.08
6                       AV Stores, Co.     148410.09
7              Anna's Decorations, Ltd     137034.22
8             Corporate Gift Ideas Co.     132340.78
9               Saveley & Henriot, Co.     130305.35
10                       Rovelli Gifts     127529.69
11                  Reims Collectables     126983.19
12                   La Rochelle Gifts     116949.68
13        Online Diecast Creations Co.     116449.29
14                   Kelly's Gift Shop     114497.19
15          Corrida Auto Replicas, Ltd     112440.09
16                     Vida Sport, Ltd     108777.92
17                   Land of Toys Inc.     107639.94
18            Danish Wholesale Imports     107446.50
19             Tokyo Collectables, Ltd     105548.73
20                    Handji Gifts& Co     105420.57
21                Technics Stores Inc.     104545.22
22                  Baane Mini Imports     104224.79
23                 Suominen Souveniers     103896.74
24                 Mini Creations Ltd.     101872.52
25               Diecast Classics Inc.      98509.25
26                        Herkku Gifts      97562.47
27             Oulu Toy Supplies, Inc.      95706.15
28                Toys of Finland, Co.      95546.46
29                     Gift Depot Inc.      95424.63
..                                 ...           ...
68               UK Collectables, Ltd.      61167.18
69                        Alpha Cognac      60483.36
70           The Sharp Gifts Warehouse      59551.38
71                Auto Associés & Cie.      58876.41
72             Classic Gift Ideas, Inc      57939.34
73                     GiftsForHim.com      56662.38
74            Online Mini Collectables      55577.26
75         Australian Gift Network, Co      55190.16
76                     Mini Auto Werke      51059.99
77          Iberia Gift Imports, Corp.      50987.85
78                    Gift Ideas Corp.      49967.78
79             Clover Collections, Co.      49898.27
80                         CAF Imports      46751.14
81         King Kong Collectables, Co.      45480.79
82        Australian Collectables, Ltd      44920.76
83         West Coast Collectables Co.      43748.72
84            Volvo Model Replicas, Co      43680.65
85            Signal Collectibles Ltd.      42570.37
86          Men 'R' US Retailers, Ltd.      41506.19
87             Tekni Collectables Inc.      38281.51
88                   Gifts4AllAges.com      33533.47
89          Cambridge Collectables Co.      32198.69
90  Bavarian Collectables Imports, Co.      31310.09
91      Double Decker Gift Stores, Ltd      29586.15
92                     Microscale Inc.      29230.43
93                        Royale Belge      29217.18
94                  Frau da Collezione      25358.32
95                   Atelier graphique      22314.36
96             Auto-Moto Classics Inc.      21554.26
97                   Boards & Toys Co.       7918.60

[98 rows x 2 columns]

### 9. List the value of 'On Hold' orders.

In [25]:
run("""SELECT
            o.ordernumber,
            o.status,
            SUM(d.quantityOrdered * d.priceEach) AS value
        FROM
            orders o
        INNER JOIN orderdetails d ON o.ordernumber = d.ordernumber
        WHERE o.status = 'On Hold'
        GROUP BY o.ordernumber
""")

   ordernumber   status     value
0        10334  On Hold  23014.17
1        10401  On Hold  43525.04
2        10407  On Hold  52229.55
3        10414  On Hold  50806.85

### 10. Report the number of orders 'On Hold' for each customer.

In [31]:
run("""SELECT
            c.customerName,
            o.ordernumber,
            o.status
        FROM
            orders o
        INNER JOIN customers c ON o.customernumber = c.customernumber
        WHERE o.status = 'On Hold'
""")

                customerName  ordernumber   status
0   Volvo Model Replicas, Co        10334  On Hold
1    Tekni Collectables Inc.        10401  On Hold
2  The Sharp Gifts Warehouse        10407  On Hold
3          Gifts4AllAges.com        10414  On Hold

## Many to many relationship

### 1. List products sold by order date

### 2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.

In [69]:
run("""SELECT
            p.productname,
            p.productcode,
            od.ordernumber,
            o.orderdate
        FROM
            products p
        INNER JOIN orderdetails od ON od.productcode = p.productcode
        INNER JOIN orders o ON o.ordernumber = od.ordernumber
        WHERE p.productname = '1940 Ford Pickup Truck'
        ORDER BY o.orderdate DESC
""")

               productname productcode  ordernumber   orderdate
0   1940 Ford Pickup Truck    S18_1097        10424  2005-05-31
1   1940 Ford Pickup Truck    S18_1097        10411  2005-05-01
2   1940 Ford Pickup Truck    S18_1097        10391  2005-03-09
3   1940 Ford Pickup Truck    S18_1097        10381  2005-02-17
4   1940 Ford Pickup Truck    S18_1097        10370  2005-01-20
5   1940 Ford Pickup Truck    S18_1097        10357  2004-12-10
6   1940 Ford Pickup Truck    S18_1097        10347  2004-11-29
7   1940 Ford Pickup Truck    S18_1097        10333  2004-11-18
8   1940 Ford Pickup Truck    S18_1097        10322  2004-11-04
9   1940 Ford Pickup Truck    S18_1097        10312  2004-10-21
10  1940 Ford Pickup Truck    S18_1097        10304  2004-10-11
11  1940 Ford Pickup Truck    S18_1097        10291  2004-09-08
12  1940 Ford Pickup Truck    S18_1097        10280  2004-08-17
13  1940 Ford Pickup Truck    S18_1097        10270  2004-07-19
14  1940 Ford Pickup Truck    S18_1097        10258  2004-06-15
15  1940 Ford Pickup Truck    S18_1097        10245  2004-05-04
16  1940 Ford Pickup Truck    S18_1097        10228  2004-03-10
17  1940 Ford Pickup Truck    S18_1097        10215  2004-01-29
18  1940 Ford Pickup Truck    S18_1097        10206  2003-12-05
19  1940 Ford Pickup Truck    S18_1097        10194  2003-11-25
20  1940 Ford Pickup Truck    S18_1097        10183  2003-11-13
21  1940 Ford Pickup Truck    S18_1097        10174  2003-11-06
22  1940 Ford Pickup Truck    S18_1097        10164  2003-10-21
23  1940 Ford Pickup Truck    S18_1097        10150  2003-09-19
24  1940 Ford Pickup Truck    S18_1097        10140  2003-07-24
25  1940 Ford Pickup Truck    S18_1097        10126  2003-05-28
26  1940 Ford Pickup Truck    S18_1097        10113  2003-03-26
27  1940 Ford Pickup Truck    S18_1097        10103  2003-01-29

### 3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?

In [106]:
run("""SELECT
            c.customerName,
            c.customerNumber,
            o.ordernumber,
            SUM(od.quantityOrdered * od.priceEach) AS value
        FROM
            customers c
        RIGHT JOIN orders o ON o.customerNumber = c.customerNumber
        RIGHT JOIN orderdetails od ON od.ordernumber = o.ordernumber
        GROUP BY o.ordernumber
        HAVING SUM(od.quantityOrdered * od.priceEach) >25000
        ORDER BY o.ordernumber
""")

                     customerName  customerNumber  ordernumber     value
0              Baane Mini Imports             121        10103  50218.95
1          Euro+ Shopping Channel             141        10104  40206.20
2        Danish Wholesale Imports             145        10105  53959.21
3                   Rovelli Gifts             278        10106  52151.81
4                 Cruz & Sons Co.             385        10108  51001.22
5    Motor Mint Distributors Inc.             486        10109  25833.14
6                  AV Stores, Co.             187        10110  48425.69
7       La Corne D'abondance, Co.             172        10114  33383.14
8         Dragon Souveniers, Ltd.             148        10117  44380.15
9           Salzburg Collectables             382        10119  35826.33
10     Australian Collectors, Co.             114        10120  45864.03
11           Marseille Mini Autos             350        10122  50824.66
12             Signal Gift Stores             112        10124  32641.98
13     Corrida Auto Replicas, Ltd             458        10126  57131.92
14             Muscle Machine Inc             151        10127  58841.35
15       Stylish Desk Decors, Co.             324        10129  29429.14
16   Mini Gifts Distributors Ltd.             124        10135  55601.84
17              Kelly's Gift Shop             496        10138  32077.44
18           Technics Stores Inc.             161        10140  38675.13
19            Suominen Souveniers             334        10141  29716.86
20   Mini Gifts Distributors Ltd.             124        10142  56052.56
21            Mini Creations Ltd.             320        10143  41016.75
22              Toys4GrownUps.com             205        10145  50342.74
23     Collectables For Less Inc.             379        10147  32680.31
24        Anna's Decorations, Ltd             276        10148  41554.73
25       Signal Collectibles Ltd.             487        10149  29997.09
26        Dragon Souveniers, Ltd.             148        10150  38350.15
27        Oulu Toy Supplies, Inc.             311        10151  32723.04
28         Euro+ Shopping Channel             141        10153  44939.85
29           Toys of Finland, Co.             186        10155  37602.48
..                            ...             ...          ...       ...
162        Euro+ Shopping Channel             141        10380  34404.21
163      Corporate Gift Ideas Co.             321        10381  32626.09
164  Mini Gifts Distributors Ltd.             124        10382  47765.59
165        Euro+ Shopping Channel             141        10383  36851.98
166        Euro+ Shopping Channel             141        10386  46968.52
167              FunGiftIdeas.com             462        10388  30293.77
168       Scandinavian Gift Ideas             448        10389  27966.54
169  Mini Gifts Distributors Ltd.             124        10390  55902.50
170       Anna's Decorations, Ltd             276        10391  29848.52
171    Down Under Souveniers, Inc             323        10393  33593.32
172  Mini Gifts Distributors Ltd.             124        10396  27695.54
173            Reims Collectables             353        10398  46656.94
174             Kelly's Gift Shop             496        10399  30253.75
175     The Sharp Gifts Warehouse             450        10400  31755.34
176       Tekni Collectables Inc.             328        10401  43525.04
177         UK Collectables, Ltd.             201        10403  37258.94
178    Down Under Souveniers, Inc             323        10404  41426.81
179                   Mini Caravy             209        10405  35157.75
180     The Sharp Gifts Warehouse             450        10407  52229.55
181               GiftsForHim.com             357        10410  36442.34
182  Québec Home Shopping Network             233        10411  29070.38
183        Euro+ Shopping Channel             141        10412  46895.48
184               Gift Depot Inc.             175        10413  28500.78
185             Gifts4AllAges.com             362        10414  50806.85
186           L'ordine Souveniers             386        10416  35362.26
187        Euro+ Shopping Channel             141        10417  28574.90
188         Salzburg Collectables             382        10419  52420.07
189     Souveniers And Things Co.             282        10420  42251.51
190        Euro+ Shopping Channel             141        10424  29310.30
191             La Rochelle Gifts             119        10425  41623.44

[192 rows x 4 columns]

### 4. Are there any products that appear on all orders?

In [116]:
run("""SELECT
            od.ordernumber,
            od.productcode,
            p.productname
        FROM
            products p
        LEFT JOIN
            orderdetails od ON od.productcode = p.productcode
        ORDER BY od.ordernumber
""")

      ordernumber productcode                                  productname
0             NaN        None                            1985 Toyota Supra
1         10100.0    S18_1749                     1917 Grand Touring Sedan
2         10100.0    S18_2248                           1911 Ford Town Car
3         10100.0    S18_4409          1932 Alfa Romeo 8C2300 Spider Sport
4         10100.0    S24_3969             1936 Mercedes Benz 500k Roadster
5         10101.0    S18_2325                    1932 Model A Ford J-Coupe
6         10101.0    S18_2795                       1928 Mercedes-Benz SSK
7         10101.0    S24_1937                  1939 Chevrolet Deluxe Coupe
8         10101.0    S24_2022    1938 Cadillac V-16 Presidential Limousine
9         10102.0    S18_1342                         1937 Lincoln Berline
10        10102.0    S18_1367     1936 Mercedes-Benz 500K Special Roadster
11        10103.0    S24_2300                     1962 Volkswagen Microbus
12        10103.0    S18_4600                             1940s Ford truck
13        10103.0    S18_2949                  1913 Ford Model T Speedster
14        10103.0    S32_3522  1996 Peterbilt 379 Stake Bed with Outrigger
15        10103.0    S24_4258                        1936 Chrysler Airflow
16        10103.0    S32_1268                  1980’s GM Manhattan Express
17        10103.0   S700_2824                              1982 Camaro Z28
18        10103.0    S18_4668                      1939 Cadillac Limousine
19        10103.0    S12_1666                               1958 Setra Bus
20        10103.0    S18_2957                           1934 Ford V8 Coupe
21        10103.0    S18_3136          18th Century Vintage Horse Carriage
22        10103.0    S18_1097                       1940 Ford Pickup Truck
23        10103.0    S18_3320                     1917 Maxwell Touring Car
24        10103.0    S18_2432                        1926 Ford Fire Engine
25        10103.0    S10_1949                     1952 Alpine Renault 1300
26        10103.0    S10_4962                       1962 LanciaA Delta 16V
27        10104.0    S32_3207       1950's Chicago Surface Lines Streetcar
28        10104.0    S24_2840          1958 Chevy Corvette Limited Edition
29        10104.0    S12_4473                            1957 Chevy Pickup
...           ...         ...                                          ...
2967      10420.0    S24_3969             1936 Mercedes Benz 500k Roadster
2968      10420.0    S18_4933                        1957 Ford Thunderbird
2969      10421.0    S18_2795                       1928 Mercedes-Benz SSK
2970      10421.0    S24_2022    1938 Cadillac V-16 Presidential Limousine
2971      10422.0    S18_1367     1936 Mercedes-Benz 500K Special Roadster
2972      10422.0    S18_1342                         1937 Lincoln Berline
2973      10423.0    S18_2949                  1913 Ford Model T Speedster
2974      10423.0    S24_4258                        1936 Chrysler Airflow
2975      10423.0    S18_2957                           1934 Ford V8 Coupe
2976      10423.0    S18_3136          18th Century Vintage Horse Carriage
2977      10423.0    S18_3320                     1917 Maxwell Touring Car
2978      10424.0    S10_1949                     1952 Alpine Renault 1300
2979      10424.0    S32_3522  1996 Peterbilt 379 Stake Bed with Outrigger
2980      10424.0   S700_2824                              1982 Camaro Z28
2981      10424.0    S18_4668                      1939 Cadillac Limousine
2982      10424.0    S12_1666                               1958 Setra Bus
2983      10424.0    S18_1097                       1940 Ford Pickup Truck
2984      10425.0    S18_2238               1998 Chrysler Plymouth Prowler
2985      10425.0    S10_4962                       1962 LanciaA Delta 16V
2986      10425.0    S24_2300                     1962 Volkswagen Microbus
2987      10425.0    S24_2840          1958 Chevy Corvette Limited Edition
2988      10425.0    S18_4600                             1940s Ford truck
2989      10425.0    S12_4473                            1957 Chevy Pickup
2990      10425.0    S32_1268                  1980’s GM Manhattan Express
2991      10425.0    S32_2509                  1954 Greyhound Scenicruiser
2992      10425.0    S24_1444                           1970 Dodge Coronet
2993      10425.0    S18_3232                  1992 Ferrari 360 Spider red
2994      10425.0    S50_1392             Diamond T620 Semi-Skirted Tanker
2995      10425.0    S18_2319                       1964 Mercedes Tour Bus
2996      10425.0    S18_2432                        1926 Ford Fire Engine

[2997 rows x 3 columns]

### 7. List the products ordered on a Monday.

In [ ]:
run("""SELECT
            p.productName,
            d.productcode,
            o.ordernumber,
            o.orderdate,
            DAYNAME(o.orderdate) AS day
                   
        FROM
            products p
        INNER JOIN orderdetails d ON p.productcode = d.productcode
        INNER JOIN orders o ON o.ordernumber = d.ordernumber
        WHERE  DAYNAME(o.orderdate) = 'Monday'
        
""")

In [64]:
run("""SELECT
            DISTINCT p.productName,
            d.productcode,
            DAYNAME(o.orderdate) AS day
                   
        FROM
            products p
        INNER JOIN orderdetails d ON p.productcode = d.productcode
        INNER JOIN orders o ON o.ordernumber = d.ordernumber
        WHERE  DAYNAME(o.orderdate) = 'Monday'
        
""")

                                    productName productcode     day
0         1969 Harley Davidson Ultimate Chopper    S10_1678  Monday
1                      1952 Alpine Renault 1300    S10_1949  Monday
2                         1996 Moto Guzzi 1100i    S10_2016  Monday
3          2003 Harley-Davidson Eagle Drag Bike    S10_4698  Monday
4                           1972 Alfa Romeo GTA    S10_4757  Monday
5                        1962 LanciaA Delta 16V    S10_4962  Monday
6                             1968 Ford Mustang    S12_1099  Monday
7                             2001 Ferrari Enzo    S12_1108  Monday
8                                1958 Setra Bus    S12_1666  Monday
9                              2002 Suzuki XREO    S12_2823  Monday
10                           1969 Corvair Monza    S12_3148  Monday
11                           1968 Dodge Charger    S12_3380  Monday
12                      1970 Plymouth Hemi Cuda    S12_3990  Monday
13                           1969 Dodge Charger    S12_4675  Monday
14                       1940 Ford Pickup Truck    S18_1097  Monday
15                              1993 Mazda RX-7    S18_1129  Monday
16                         1937 Lincoln Berline    S18_1342  Monday
17     1936 Mercedes-Benz 500K Special Roadster    S18_1367  Monday
18                  1980s Black Hawk Helicopter    S18_1662  Monday
19                     1917 Grand Touring Sedan    S18_1749  Monday
20                  1948 Porsche 356-A Roadster    S18_1889  Monday
21                             1995 Honda Civic    S18_1984  Monday
22               1998 Chrysler Plymouth Prowler    S18_2238  Monday
23                           1911 Ford Town Car    S18_2248  Monday
24                       1964 Mercedes Tour Bus    S18_2319  Monday
25                    1932 Model A Ford J-Coupe    S18_2325  Monday
26                        1926 Ford Fire Engine    S18_2432  Monday
27                               P-51-D Mustang    S18_2581  Monday
28          1936 Harley Davidson El Knucklehead    S18_2625  Monday
29                       1928 Mercedes-Benz SSK    S18_2795  Monday
..                                          ...         ...     ...
69             1936 Mercedes Benz 500k Roadster    S24_3969  Monday
70            1992 Porsche Cayenne Turbo Silver    S24_4048  Monday
71                        1936 Chrysler Airflow    S24_4258  Monday
72                      1900s Vintage Tri-Plane    S24_4278  Monday
73                        1961 Chevrolet Impala    S24_4620  Monday
74                  1980’s GM Manhattan Express    S32_1268  Monday
75                             1997 BMW F650 ST    S32_1374  Monday
76                            1982 Ducati 996 R    S32_2206  Monday
77       1950's Chicago Surface Lines Streetcar    S32_3207  Monday
78  1996 Peterbilt 379 Stake Bed with Outrigger    S32_3522  Monday
79                     1928 Ford Phaeton Deluxe    S32_4289  Monday
80                    1974 Ducati 350 Mk3 Desmo    S32_4485  Monday
81                 1930 Buick Marquette Phaeton    S50_1341  Monday
82             Diamond T620 Semi-Skirted Tanker    S50_1392  Monday
83               1962 City of Detroit Streetcar    S50_1514  Monday
84                           2002 Yamaha YZR M1    S50_4713  Monday
85                        The Schooner Bluenose   S700_1138  Monday
86                  American Airlines: B767-300   S700_1691  Monday
87                                The Mayflower   S700_1938  Monday
88                                   HMS Bounty   S700_2047  Monday
89               America West Airlines B757-200   S700_2466  Monday
90                    The USS Constitution Ship   S700_2610  Monday
91                              1982 Camaro Z28   S700_2824  Monday
92                                ATA: B757-300   S700_2834  Monday
93                           F/A 18 Hornet 1/72   S700_3167  Monday
94                                  The Titanic   S700_3505  Monday
95                               The Queen Mary   S700_3962  Monday
96                    American Airlines: MD-11S   S700_4002  Monday
97                             Boeing X-32A JSF    S72_1253  Monday
98                                   Pont Yacht    S72_3212  Monday

[99 rows x 3 columns]

### 8. What is the quantity on hand for products listed on 'On Hold' orders?

In [55]:
run("""SELECT
            p.productName,
            d.productcode,
            d.quantityordered,
            o.ordernumber
                   
        FROM
            products p
        INNER JOIN orderdetails d ON p.productcode = d.productcode
        INNER JOIN orders o ON o.ordernumber = d.ordernumber
        WHERE  o.status = 'On Hold'
        
        """)

,productName,productcode,quantityordered,ordernumber
0,1962 LanciaA Delta 16V,S10_4962,26,10334
1,1964 Mercedes Tour Bus,S18_2319,46,10334
2,1926 Ford Fire Engine,S18_2432,34,10334
3,1992 Ferrari 360 Spider red,S18_3232,20,10334
4,1940s Ford truck,S18_4600,49,10334
5,1962 Volkswagen Microbus,S24_2300,42,10334
6,P-51-D Mustang,S18_2581,42,10401
7,1928 British Royal Navy Airplane,S24_1785,38,10401
8,Corsair F4U ( Bird Cage),S24_3949,64,10401
9,1900s Vintage Tri-Plane,S24_4278,52,10401
10,1997 BMW F650 ST,S32_1374,49,10401
11,1928 Ford Phaeton Deluxe,S32_4289,62,10401
12,1930 Buick Marquette Phaeton,S50_1341,56,10401
13,American Airlines: B767-300,S700_1691,11,10401
14,America West Airlines B757-200,S700_2466,85,10401
15,ATA: B757-300,S700_2834,21,10401
16,F/A 18 Hornet 1/72,S700_3167,77,10401
17,American Airlines: MD-11S,S700_4002,40,10401
18,1965 Aston Martin DB5,S18_1589,59,10407
19,1917 Grand Touring Sedan,S18_1749,76,10407
20,1911 Ford Town Car,S18_2248,42,10407
21,1999 Indy 500 Monte Carlo SS,S18_2870,41,10407
22,1932 Alfa Romeo 8C2300 Spider Sport,S18_4409,6,10407
23,1957 Ford Thunderbird,S18_4933,66,10407
24,1970 Chevy Chevelle SS 454,S24_1046,26,10407
25,1966 Shelby Cobra 427 S/C,S24_1628,64,10407
26,1949 Jaguar XK 120,S24_2766,76,10407
27,1952 Citroen-15CV,S24_2887,59,10407
28,1969 Chevrolet Camaro Z28,S24_3191,13,10407
29,2002 Chevy Corvette,S24_3432,43,10407
30,1972 Alfa Romeo GTA,S10_4757,49,10414
31,1999 Yamaha Speed Boat,S18_3029,44,10414
32,1903 Ford Model A,S18_3140,41,10414
33,Collectable Wooden Train,S18_3259,48,10414
34,1904 Buick Runabout,S18_4522,56,10414
35,18th century schooner,S24_2011,43,10414
36,1912 Ford Model T Delivery Wagon,S24_3151,60,10414
37,1940 Ford Delivery Sedan,S24_3816,51,10414
38,The Schooner Bluenose,S700_1138,37,10414
39,The Mayflower,S700_1938,34,10414
40,The USS Constitution Ship,S700_2610,31,10414
41,The Titanic,S700_3505,28,10414
42,The Queen Mary,S700_3962,40,10414
43,Pont Yacht,S72_3212,47,10414